<div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)"> 
    <fieldset>
      <legend>Identité du Candidat</legend>

      <input
        type="text"
        id="name"
        class="form-control"
        name="name"
        placeholder="Nom complet"
        [(ngModel)]="user.name"
        required
        minlength="5"
        #nameRef="ngModel"
      />

      <div class="error" *ngIf="nameRef.invalid && nameRef.touched">
        <div *ngIf="nameRef.errors?.['required']">
          Nom obligatoire.
        </div>
        <div *ngIf="nameRef.errors?.['minlength']">
          Minimum 5 caractères.
        </div>
      </div>

      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        placeholder="Email professionnel"
        [(ngModel)]="user.email"
        required
        email
        #emailRef="ngModel"
      />

      <div class="error" *ngIf="emailRef.invalid && emailRef.touched">
        <div *ngIf="emailRef.errors?.['required']">
          L'email est obligatoire.
        </div>
        <div *ngIf="emailRef.errors?.['email']">
          Format d'email invalide.
        </div>
      </div>

      <select name="post" [(ngModel)]="user.selectedPost">
        <option value="">-- Sélectionnez --</option>
        <option *ngFor="let post of posts" [value]="post.label">
          {{ post.label }}
        </option>
      </select>

    </fieldset>
    <fieldset ngModelGroup="preference">
      <legend>
        <label for="">
          <input type="radio" name="contract" id="" value="CDI" [(ngModel)]="condidate.preference.contract">CDI 
        </label>
        <label for="">
          <input type="radio" name="contract" id="" value="Freelace"  [(ngModel)] = "condidate.preference.contract">Freelance 
        </label>
        <label>
          <input type="checkbox" name="available" [(ngModel)]="candidate.preferences.available">
          Disponible immédiatement
      </label>
      </legend>

    </fieldset>
  </form>
</div>

<div class="card">
    <h1>Carte Candidat</h1>
    <p><span>Nom: </span>{{user.name}}</p>
    <p><span>Email: </span>{{user.email}}</p>
    <p><span>Niveau: </span>{{user.selectedPost}}</p>
    <!-- <p><span>Contrat: </span>{{user.contrat}}</p>
    <p><span>Disponible: </span>{{user.disponible}}</p>
    <p><span>Bio: </span>{{user.bio}}</p> -->
</div>
