<!-- 
<div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)"> 
    <fieldset>
      <legend>Identité du Candidat</legend>

      <input
        type="text"
        id="name"
        class="form-control"
        name="name"
        placeholder="Nom complet"
        [(ngModel)]="user.name"
        required
        minlength="5"
        #nameRef="ngModel"
      />

      <div class="error" *ngIf="nameRef.invalid && nameRef.touched">
        <div *ngIf="nameRef.errors?.['required']">
          Nom obligatoire.
        </div>
        <div *ngIf="nameRef.errors?.['minlength']">
          Minimum 5 caractères.
        </div>
      </div>

      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        placeholder="Email professionnel"
        [(ngModel)]="user.email"
        required
        email
        #emailRef="ngModel"
      />

      <div class="error" *ngIf="emailRef.invalid && emailRef.touched">
        <div *ngIf="emailRef.errors?.['required']">
          L'email est obligatoire.
        </div>
        <div *ngIf="emailRef.errors?.['email']">
          Format d'email invalide.
        </div>
      </div>

      <select name="post" [(ngModel)]="user.selectedPost">
        <option value="">-- Sélectionnez --</option>
        <option *ngFor="let post of posts" [value]="post.label">
          {{ post.label }}
        </option>
      </select>

    </fieldset>

    <fieldset ngModelGroup="preference">
      <legend> Preference de mission </legend>
        <label for="">
          <input type="radio" name="contract" id="" value="CDI" [(ngModel)]="user.preferences.contract">CDI 
        </label>
        <label for="">
          <input type="radio" name="contract" id="" value="Freelace"  [(ngModel)] = "user.preferences.contract">Freelance 
        </label>
        <label>
          <input type="checkbox" name="avaible" [(ngModel)]="user.preferences.avaible">
          Disponible immédiatement
      </label>

    </fieldset>
    <fieldset>
      <legend>Pitch Personnel</legend>
      <textarea
        class="form-control"
        name="bio"
        minlength="20"
        maxlength="200"
        [(ngModel)]="user.bio"
        #bio="ngModel"
        placeholder="Pourquoi vous ?"
        [ngClass]="{valid: bio.valid && bio.touched,invalid: bio.invalid && bio.touched}"
        required
      ></textarea>

      <div
        class="compteur"
        [ngClass]="{ danger: (user.bio.length) > 180 }"
      >
        {{ user.bio.length }} / 200 caractères
      </div>

      @if (bio.invalid && bio.touched) {
        <small>Bio entre 20 et 200 caractères</small>
      }
    </fieldset>

    <button type="submit">Submit</button>
  </form>
</div>

<div class="card">
    <h1>Carte Candidat</h1>
    <p><span>Nom: </span>{{isSubmited ? submitedUser.name : user.name}}</p>
    <p><span>Email: </span>{{isSubmited ? submitedUser.email : user.email}}</p>
    <p><span>Niveau: </span>{{isSubmited ? submitedUser.selectedPost : user.selectedPost}}</p>
    <p><span>Contrat: </span>{{isSubmited ? submitedUser.preferences.contract : user.preferences.contract}}</p>
    <p><span>Disponible: </span>{{isSubmited ? (submitedUser.preferences.contract ? 'Oui':'Non') : (user.preferences.contract ? 'Oui':'Non')}}</p>
    <p><span>Bio: </span>{{isSubmited ? submitedUser.bio : user.bio}}</p>
</div> -->


<form #f="ngForm" (ngSubmit)="submit(f)" class="container">

  <!-- FORM -->
  <fieldset>
    <legend>Identité</legend>

    <input name="name" required minlength="3"
      class="form-control"
      [(ngModel)]="candidate.name"
      #name="ngModel"
      placeholder="Nom complet"
      minlength="5"
      [ngClass]="{ valid: name.valid, invalid: name.touched && name.invalid }" />

    <input name="email" required email
    class="form-control"
      [(ngModel)]="candidate.email"
      #email="ngModel"
      placeholder="Email"
      [ngClass]="{ valid: email.valid, invalid: email.touched && email.invalid }" />

    <select name="level" required
      [(ngModel)]="candidate.level"
      #level="ngModel">
      <option value="">-- Niveau --</option>
      <option *ngFor="let post of posts" [value]="post.label">
          {{ post.label }}
        </option>
    </select>
  </fieldset>

  <fieldset ngModelGroup="preferences">
    <legend>Préférences</legend>

    <label>
      <input type="radio" name="contract" value="CDI"
        [(ngModel)]="candidate.preferences.contract" />
      CDI
    </label>

    <label>
      <input type="radio" name="contract" value="Freelance"
        [(ngModel)]="candidate.preferences.contract" />
      Freelance
    </label>

    <label>
      <input type="checkbox" name="available"
        [(ngModel)]="candidate.preferences.available" />
      Disponible immédiatement
    </label>
  </fieldset>

  <fieldset>
    <legend>Pitch personnel</legend>

    <textarea name="bio" required minlength="20" maxlength="200" class="form-control"
      [(ngModel)]="candidate.bio"
      #bio="ngModel"></textarea>

    <p [ngClass]="{ danger: candidate.bio.length > 180 }">
      {{ candidate.bio.length }}/200
    </p>
  </fieldset>

  <button type="submit" [disabled]="f.invalid">
    Envoyer
  </button>
</form>

<div class="card">
  <h1>Carte Candidat</h1>
  <p><span>Name: </span>{{ submittedCandidate?.name || candidate.name }}</p>
  <p><span>Email: </span>{{ submittedCandidate?.email || candidate.email }}</p>
  <p><span>Niveau: </span>{{ submittedCandidate?.level || candidate.level }}</p>
  <p><span>Contrat: </span>{{ submittedCandidate?.preferences.contract || candidate.preferences.contract }}</p>
  <p>
    <span>Disponibilite: </span>
    {{
      (submittedCandidate?.preferences.available ?? candidate.preferences.available)
        ? 'Oui' : 'Non'
    }}
  </p>
  <p><span>Bio: </span>{{ submittedCandidate?.bio || candidate.bio }}</p>
</div>
