textarea {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
  border-left: 5px solid #ccc;
}


.valid {
  border-left-color: green;
}

.invalid {
  border-left-color: red;
}


.compteur {
  text-align: right;
}

.counter.danger {
  color: red;
}

small {
  color: red;
}

form {
  max-width: 500px;
  margin: 30px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  font-family: Arial, Helvetica, sans-serif;
}


fieldset {
  border: none;
  padding: 0;
}

legend {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}


.form-control {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.3s;
}

.form-control:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0,123,255,0.3);
}

select {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
}


.form-control.ng-touched.ng-invalid {
  border-left: 5px solid red;
}

.form-control.ng-valid.ng-touched {
  border-left: 5px solid rgb(30, 255, 0);
}


.error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}



.card{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 15px 20px;
}

h1{
    margin-top: 0;
    margin-bottom: 10px;
}

p{
    margin: 5px 0;
}

span{
    font-weight: bold;
}
